.cart__container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  /* height: 80vh; */
  padding: 4rem 0;
  /* border: 2px solid red; */
}
.cart__container-outer h1 {
  padding: 3rem 1rem 0 0;
  /* color: yellow; */
  /* border: 2px solid rgb(0, 136, 255); */
}

.cart-container-inner {
  padding: 3rem 0;
}

.cart-cards-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid rgb(203, 203, 203);
  /* border: 2px solid rgb(72, 255, 0); */
}
.cart__img {
  /* width: 2000px;
  border: 2px solid rgb(0, 255, 217); */
}
.cart-cards-inner h3 {
  width: min-content;
  padding: 0.5rem;
  /* border: 2px solid rgb(0, 255, 217); */
}
.cart-cards-inner h2 {
  width: min-content;
  /* border: 2px solid rgb(0, 255, 217); */
}
.cart-cards-inner button {
  width: min-content;
  /* border: 2px solid rgb(0, 255, 217); */
}

.cart-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btn_checkout,
cart__delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 500px) {
  .cart-cards {
    flex-direction: row;
  }

  .cart-cards-inner h3 {
    width: min-content;
    padding: 2rem;
    /* border: 2px solid rgb(0, 255, 217); */
  }
}
